<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-round-back"></ion-back-button>
    </ion-buttons>
    <ion-title>
        {{post.title.rendered}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-img src="{{post.image}}" *ngIf="post.image"></ion-img>

  <h2>{{post.title.rendered}}
    <br>
    <small>
      <ion-icon name="clock"></ion-icon>{{post.date}}
    </small>
  </h2>
  <p [innerHTML]="description"></p>
</ion-content>