ion-header {
  ion-toolbar {
    --background: var(--ion-color-primary);
    --color: white;
    ion-icon {
      zoom: 1.4;
    }
  }
}

// For image design
ion-img {
  height: 150px;
  opacity: 0.1;
}

// For Form
form {
  padding-top: 28px;
  ion-item {
    --padding-start: 0;
    --background: #fafafa;
    ion-label {
      color: gray;
    }
    &:nth-child(3) {
      height: 33px;
      ion-label {
        color: red;
      }
    }
  }
  ion-button {
    text-transform: uppercase;
    color: #fafafa;
  }
}

// For Login, Facebook, Register Buttons
ion-button {
  &:nth-child(3) {
    text-transform: capitalize;
    margin-top: 15px;
  }
  &:nth-child(4) {
    margin-top: 15px;
    --ion-color-base: #3b5998 !important;
    color: white;
  }
  &:nth-child(5) {
    color: black;
    margin-top: 20px;
    --border-color: black;
    --border-width: thin;
  }
}

